
body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap : 5px;
  
  color: white;
  font-size: 50;
  text-align: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.name {
	background: #7EF3FF;
	grid-column: 1 / 12;
}
.periode {
	background: #A4E87E;
	grid-column: 12 / -1;
}
.turningX {
	background: #FFDB8B;
	grid-column: 1 / 5;
}
.turningY {
	background: #E87573;
	grid-column: 5 / 9;
}
.turningZ {
	background: #9F7EFF;
	grid-column: 9 / -1;
}
.links{
	grid-column: 1 / -1;
}

@media all and (min-width: 28.125em)
{
	.name {
		background: #7EF3FF;
		grid-column: 1 / 6;
	}
	.periode {
		background: #A4E87E;
		grid-column: 6 / 7;
	}
	.turningX {
		background: #FFDB8B;
		grid-column: 7 / 9;
	}
	.turningY {
		background: #E87573;
		grid-column: 9 / 11;
	}
	.turningZ {
		background: #9F7EFF;
		grid-column: 11 / -1;
	}
	.links{
		grid-column: auto / span 6;
	}
}


@media all and (min-width: 53.125em)
{
	.name {
		background: #7EF3FF;
		grid-column: 1 / 6;
	}
	.periode {
		background: #A4E87E;
		grid-column: 6 / 7;
	}
	.turningX {
		background: #FFDB8B;
		grid-column: 7 / 9;
	}
	.turningY {
		background: #E87573;
		grid-column: 9 / 11;
	}
	.turningZ {
		background: #9F7EFF;
		grid-column: 11 / -1;
	}
	.links{
		grid-column: auto / span 4;
	}
}
.color1 {
	background: #FF6264;
}

.color2 {
	background: #AE4DE8;
}

.color3 {
	background: #5585FF;
}

.color4 {
	background: #E8A359;
}